apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-deployment
spec:
  replicas: 1  # Adjust the number of replicas as needed
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      imagePullSecrets:
        - name: docker-secret
      containers:
        - name: my-app
          image: githubactionregistory.azurecr.io/angularurl:159
          ports:
            - containerPort: 80  # Adjust the container port as needed
